{{- if .Values.clusterRole.enabled }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{.Values.clusterRole.name}}
rules:
{{- range .Values.clusterRole.rules }}
  - apiGroups: {{ toYaml .apiGroups | nindent 6 }}
    resources: {{ toYaml .resources | nindent 6 }}
    verbs: {{ toYaml .verbs | nindent 6 }}
{{- end}}
{{- end }}
---
{{ if .Values.clusterRoleBinding.enabled }}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.clusterRoleBinding.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ .Values.clusterRoleBinding.roleRef.kind }}
  name: {{ .Values.clusterRoleBinding.roleRef.name}}
subjects: 
{{- toYaml .Values.clusterRoleBinding.subjects | nindent 2 }}
{{- end }}


